<DOCTYPE html>
<html lang="us">
    <head>
        <meta charset="UTF-8">
        <title>Template</title>
    </head>
    <body>
        <h1>{{.}}</h1>
        <br>
        <img src="/assets/dog.jpg">
    </body>
</html>