<DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Hello World</title>
</head>
<body>
   Without date formating: {{.}} 
   With date formating: {{fdateMDY .}}
   With date and hour formating: {{fdateMDYH .}}
   With hours formating: {{fdateHMS .}}
</body>
</html>