<html>
    <head>
        <title>Template Example</title>
    </head>
    <body>
        <h1>Your summed numbers: </h1>
        {{ sumNums .}}

        <h1>Your subtracted numbers: </h1>
        {{ subNums .}}
    </body>
</html>